/* montserrat-100 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: local(""), url("../fonts/montserrat-v15-latin-100.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-100.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-100italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  src: local(""), url("../fonts/montserrat-v15-latin-100italic.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-100italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-200 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("../fonts/montserrat-v15-latin-200.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-200.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-200italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  src: local(""), url("../fonts/montserrat-v15-latin-200italic.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-200italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-300 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/montserrat-v15-latin-300.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-300italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: local(""), url("../fonts/montserrat-v15-latin-300italic.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-300italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v15-latin-italic.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v15-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v15-latin-500italic.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-500italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v15-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v15-latin-600italic.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-600italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v15-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v15-latin-700italic.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/montserrat-v15-latin-800.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  src: local(""), url("../fonts/montserrat-v15-latin-800italic.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-800italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-900 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/montserrat-v15-latin-900.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-900italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  src: local(""), url("../fonts/montserrat-v15-latin-900italic.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-900italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction=horizontal] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction=horizontal] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction=horizontal] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

/* Set root font-size @10px equivalent */
html {
  font-size: 0.625em;
  /* fallback IE8+ */
  font-size: calc(1em * .625);
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  scroll-behavior: smooth;
}

/* variables */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove focus for mouse users */
:focus:not(:focus-visible) {
  outline: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #000;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make medias easier to work with */
img,
video,
audio {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Set cursor pointer */
label[for],
button,
input[type=submit],
select {
  cursor: pointer;
}

/* Remove font style on address */
address {
  font-style: normal;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  white-space: nowrap;
}

/* Image replacement technique 2012 H5BP  - https://css-tricks.com/the-image-replacement-museum/ */
.ir {
  font: 0/0 a;
  color: transparent;
  border: 0;
  text-shadow: none;
}

/* Phone links active only under 36em (576px) */
a[href^=tel] {
  white-space: nowrap;
  pointer-events: none;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 36em) {
  a[href^=tel] {
    pointer-events: auto;
    text-decoration: underline;
  }
}
/* Print external URLs */
@media print {
  a {
    text-decoration: underline;
  }

  a[href]:not([href^="#"])::after {
    content: "(" attr(href) ")";
  }
}
body {
  background: linear-gradient(to right, #191919, #212121, #292929, #323232, #3b3b3b);
  font-family: Montserrat, sans-serif;
  color: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #3b3b3b;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

h1 {
  font-size: 75px;
  font-weight: bold;
}

h2 {
  font-size: 60px;
}

p {
  font-size: 30px;
}

.container {
  max-width: 1800px;
  padding: 0 40px;
  margin-left: auto;
  margin-right: auto;
}

.button-1 {
  background: none;
  position: relative;
  padding: 1rem 2rem;
  font-size: 3.3rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  border: 2px solid #fff;
  z-index: 1;
  transition: color 0.1s ease-out;
}
.button-1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  z-index: -1;
  transition: height 0.2s ease-out;
}
.button-1:hover {
  color: #2a76e1;
}
.button-1:hover::after {
  height: 100%;
}

/** hero **/
.hero {
  margin-top: 15rem;
  margin-bottom: 55vh;
  display: flex;
  justify-content: space-between;
}
.hero .letters {
  position: relative;
  display: flex;
  align-items: center;
  width: 50rem;
}
.hero .letters * {
  width: 50rem;
  position: absolute;
}
.hero .letters img:nth-child(1) {
  left: -354px;
  top: 82px;
}
.hero .letters img:nth-child(2) {
  left: 16px;
  top: -254px;
}

.sub-title {
  font-size: 4.5rem;
}

.links-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

/** presentation **/
.presentation {
  text-align: center;
  margin-bottom: 30rem;
}

/** tech **/
.tech {
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-bottom: 10rem;
  background: linear-gradient(to bottom, #257ef3, #2a76e1, #2d6dd0, #2e65bf, #2f5dae);
}
.tech h2 {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}
.tech h2 img {
  width: 10rem;
  margin-right: 2rem;
}
.tech .tech-line {
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.tech .tech-line .tech-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5rem;
}
.tech .tech-line .tech-element img {
  width: 16rem;
  transition: transform 0.3s ease-out;
}
.tech .tech-line .tech-element span {
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.tech .tech-line .tech-element:hover img {
  transform: scale(1.15);
}
.tech .tech-line .tech-element:hover span {
  opacity: 1;
}

/** projects **/
.projects h2 {
  text-align: center;
  margin-bottom: 10rem;
}

.projects-wrapper {
  margin-bottom: 20rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.projects-wrapper .project-element {
  position: relative;
  padding-bottom: 75%;
  background-position: center;
  background-size: 140%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-out;
}
.projects-wrapper .project-element .mask {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.529);
  transition: opacity 0.3s ease-out;
}
.projects-wrapper .project-element .mask span {
  font-size: 50px;
  font-weight: 600;
}
.projects-wrapper .project-element .mask a {
  transform: scale(0.5);
  transition: transform 0.3s ease-out;
}
.projects-wrapper .project-element:hover {
  background-size: 160%;
}
.projects-wrapper .project-element:hover .mask {
  opacity: 1;
}
.projects-wrapper .project-element:hover .mask a {
  transform: scale(1);
}

/** contact **/
.contact {
  padding-bottom: 25rem;
}
.contact h2 {
  margin-bottom: 5rem;
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
.contact form {
  width: 100rem;
  display: flex;
  flex-direction: column;
}
.contact form input {
  width: 100%;
}
.contact #map {
  width: 600px;
}

#message {
  display: block;
  width: 100%;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.form-group {
  position: relative;
  display: flex;
  margin-bottom: 3rem;
}
.form-group .input-background {
  background: linear-gradient(to bottom, #257ef3, #2a76e1, #2d6dd0, #2e65bf, #2f5dae);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: height 0.3s ease-out;
  z-index: -1;
}

.form-input {
  position: relative;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-size: 2.5rem;
  font-family: Monserrat, sans-serif;
}
.form-input::placeholder {
  color: #fff;
  font-family: Monserrat, sans-serif;
  font-size: 20px;
}
.form-input:focus ~ .input-background {
  height: 100%;
}

.social-medias {
  display: flex;
  align-items: center;
}
.social-medias a {
  width: 6rem;
  margin-right: 2rem;
  transition: transform 0.3s ease-out;
}
.social-medias a:hover {
  transform: scale(1.2);
}

.submit-wrapper {
  position: relative;
}
.submit-wrapper .submit-background {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  transition: height 0.3s ease-out;
}
.submit-wrapper:hover .submit-background {
  height: 100%;
}

/** email modal **/
.modal-email {
  padding: 7rem;
  position: fixed;
  top: 200px;
  left: -100%;
  color: #292929;
  background-color: #A9E5BB;
  border-radius: 0 20px 20px 0;
  font-size: 2rem;
  font-weight: 500;
  z-index: 1;
  transition: left 0.5s ease-out;
  animation: modalSuccess 5s;
}

@keyframes modalSuccess {
  from {
    left: -100%;
  }
  25% {
    left: 0;
  }
  70% {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@media screen and (max-width: 1600px) {
  h1 {
    font-size: 55px;
  }

  .sub-title {
    font-size: 3.5rem;
  }

  .button-1 {
    font-size: 2.5rem;
  }

  .hero .letters * {
    width: 40rem;
  }

  .hero .letters img:nth-child(1) {
    left: -220px;
  }

  .hero .letters img:nth-child(2) {
    left: 78px;
  }
}
@media screen and (max-width: 1350px) {
  .hero .letters * {
    width: 30rem;
  }

  .hero .letters img:nth-child(1) {
    left: -10px;
  }

  .hero .letters img:nth-child(2) {
    left: 182px;
    top: -193px;
  }
}
@media screen and (max-width: 1150px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 45px;
  }

  p {
    font-size: 23px;
  }

  .sub-title {
    font-size: 2.7rem;
  }

  .button-1 {
    font-size: 1.7rem;
  }

  .hero .letters * {
    width: 20rem;
  }

  .hero .letters img:nth-child(1) {
    left: 108px;
  }

  .hero .letters img:nth-child(2) {
    left: 292px;
    top: -99px;
  }
}
@media screen and (max-width: 954px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 35px;
  }

  p {
    font-size: 20px;
  }

  .links-wrapper {
    width: 375px;
  }

  .hero .letters * {
    width: 30rem;
  }

  .hero .letters img:nth-child(1) {
    left: -42px;
  }

  .hero .letters img:nth-child(2) {
    left: 292px;
    top: -37px;
  }
}
@media screen and (max-width: 735px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 50px;
  }

  .links-wrapper {
    width: 375px;
  }

  .hero .letters * {
    width: 20rem;
  }

  .hero .letters img:nth-child(1) {
    left: 46px;
  }

  .hero .letters img:nth-child(2) {
    left: 253px;
    top: -37px;
  }

  .tech h2 img {
    width: 6rem;
  }

  .tech .tech-line .tech-element {
    width: 140px;
  }

  .tech .tech-line {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 550px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 25px;
  }

  .links-wrapper {
    width: 320px;
  }

  .hero .letters * {
    width: 20rem;
  }

  .hero .letters img:nth-child(1) {
    left: 46px;
  }

  .hero .letters img:nth-child(2) {
    left: 253px;
    top: -37px;
  }

  .sub-title {
    font-size: 2rem;
  }

  .button-1 {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=style.css.map */
