@import 'fonts.scss';
@import 'locomotiveScroll.scss';
@import 'base.scss';


body{
    background: linear-gradient(to right, #191919, #212121, #292929, #323232, #3b3b3b);
    font-family: Montserrat,sans-serif;
    color: #fff;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: hsl(0deg 0% 23%); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(128, 128, 128); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}

h1{
    font-size: 75px;
    font-weight: bold;
}

h2{
    font-size: 60px;
}

p{
    font-size: 30px;
}

.container{
    max-width: 1800px;
    padding: 0 40px;
    margin-left: auto;
    margin-right: auto;
}

.in-dev{
    margin-top: 12rem;
    margin-bottom: 20rem;
    display: block;
    text-align: center;
    font-size: 7rem;
}

.button-1{
    background: none;
    position: relative;
    padding: 1rem 2rem;
    font-size: 3.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border: 2px solid #fff;
    z-index: 1;
    transition: color .1s ease-out;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        background-color: #fff;
        z-index: -1;
        transition: height .2s ease-out;
    }
    &:hover{
        &::after{
            height: 100%;
        }
        color: #2a76e1;
    }
}

/** hero **/

.hero{
    margin-top: 15rem ;
    margin-bottom: 45rem;
    display: flex;
    justify-content: space-between;
    .letters{
        position: relative;
        display: flex;
        align-items: center;
        width: 50rem;
        *{
            width: 50rem;
            position: absolute
        }
        img:nth-child(1){
            left: -354px;
            top: 82px;
        }
        img:nth-child(2){
            left: 16px;
            top: -254px;
        }
    }
}

.sub-title{
    font-size: 4.5rem;
}

.links-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

/** presentation **/@at-root
.presentation{
    text-align: center;
    margin-bottom: 30rem;
}

/** tech **/

.tech{
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-bottom: 10rem;
    background: linear-gradient(to bottom, #257ef3, #2a76e1, #2d6dd0, #2e65bf, #2f5dae);
    h2{
        display: flex;
        align-items: center;
        margin-bottom: 5rem;
        img{
            width: 10rem;
            margin-right: 2rem;
        }
    }
}

.tech-line{
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    .tech-element{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 5rem;
        img{
            height: 16rem;
            transition: transform .3s ease-out;
        }
        
        span{
            margin-top: 1.5rem;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 2.5rem;
            opacity: 0;
            transition: opacity .3s ease-out;
        }
        &:hover{
            img{
                transform: scale(1.15);
            }
            span{
                opacity: 1;
            }
        }
    }
}


/** projects **/

.projects{
    h2{
        text-align: center;
        margin-bottom: 10rem;
    }
}

.projects-wrapper{
    margin-bottom: 20rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    .project-element{
        position: relative;
        padding-bottom: 75%;
        background-position: center;
        background-size: 140%;
        background-repeat: no-repeat;
        transition: background-size .3s ease-out;
        .mask{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.529);
            transition: opacity .3s ease-out;
            span{
                font-size: 50px;
                font-weight: 600;
            }
            a{
                transform: scale(.5);
                transition: transform .3s ease-out;
            }
        }
        &:hover{
            background-size: 160%;
            .mask{
                opacity: 1;
                a{
                    transform: scale(1);
                }
            }
        }
    }
    .project-element-wrapper{
        background-color: #4b4b4b9d;
        position: relative;
        .github-link{
            position: absolute;
            right: 5px;
            top: 5px;
            width: 100px;
            transition: transform .3s;
            &:hover{
                transform: translateY(-5px);
            }
        }
        .project-image{
            width: 100%;
            height: 300px;
            background-position: center;
            background-size: cover;
        }
        .element-body{
            padding: 20px;
            h2{
                font-size: 30px;
                margin-bottom: 10px;
            }
            p{
                font-size: 20px;
                margin-bottom: 30px;
            }
            .tech-and-link-wrapper{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .tech-element{
                margin-right: 2rem;
                img{
                    height: 5rem;
                    transition: transform .3s ease-out;
                }
                span{
                    font-size: 1rem;
                }
            }
            .tech-line{
                margin-bottom: 0;
                height: 160px;
            }
        }
    }
}

/** contact **/

.contact{
    padding-bottom: 25rem;
    h2{
        margin-bottom: 5rem;
    }
    .content{
        display: flex;
        justify-content: space-between;
    }
    form{
        width: 100rem;
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        input{
            width: 100%;
        }
    }
    #map{
        width: 600px;
        min-width: 600px;
    }
}

#message{
    display: block;
    width: 100%;
}


.form-row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
}

.form-group{
    position: relative;
    display: flex;
    margin-bottom: 3rem;
    .input-background{
        background: linear-gradient(to bottom, #257ef3, #2a76e1, #2d6dd0, #2e65bf, #2f5dae);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        transition: height .3s ease-out;
        z-index: -1;
    }
    
}



.form-input{
    position: relative;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    font-size: 2.5rem;
    font-family: Monserrat,sans-serif;
    &::placeholder{
        color: #fff;
        font-family: Monserrat,sans-serif;
        font-size: 20px;
    }
    &:focus{
        ~ .input-background{
            height: 100%;
        }
    }
    
}

.social-medias{
    display: flex;
    align-items: center;
    a{
        width: 6rem;
        margin-right: 2rem;
        transition: transform .3s ease-out;
        &:hover{
            transform: scale(1.2);
        }
    }
}

.submit-wrapper{
    position: relative;
    .submit-background{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        background-color: #fff;
        transition: height .3s ease-out;
    }
    &:hover{
        .submit-background{
            height: 100%;
        }
    }
}

/** email modal **/
.modal-email{
    padding: 7rem;
    position: fixed;
    top: 200px;
    left: -100%;
    color: #292929;
    background-color: #A9E5BB;
    border-radius: 0 20px 20px 0;
    font-size: 2rem;
    font-weight: 500;
    z-index: 1;
    transition: left .5s ease-out;
    animation: modalSuccess 5s;
}

@keyframes modalSuccess {
    from{
        left: -100%;
    }
    25%{
        left: 0;
    }
    70%{
        left: 0;
    }
    to{
        left: -100%;
    }
}

@media screen and (max-width: 1600px){
    h1 {
        font-size: 55px;
    }
    .sub-title {
        font-size: 3.5rem;
    }
    .button-1 {
        font-size: 2.5rem;
    }

    .hero .letters * {
        width: 40rem;
    }
    .hero .letters img:nth-child(1) {
        left: -220px;
    }
    .hero .letters img:nth-child(2) {
        left: 78px;
    }
}

@media screen and (max-width: 1350px){
    .hero .letters * {
        width: 30rem;
    }
    .hero .letters img:nth-child(1) {
        left: -10px;
    }
    .hero .letters img:nth-child(2) {
        left: 182px;
        top: -193px;
    }
    .projects-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 1150px){
    h1 {
        font-size: 40px;
    }
    h2{
        font-size: 45px;
    }
    p {
        font-size: 23px;
    }
    .sub-title {
        font-size: 2.7rem;
    }
    .button-1 {
        font-size: 1.7rem;
    }
    .hero .letters * {
        width: 20rem;
    }
    .hero .letters img:nth-child(1) {
        left: 108px;
    }
    .hero .letters img:nth-child(2) {
        left: 292px;
        top: -99px;
    }
    .contact .content {
        flex-direction: column;
    }
    .contact #map{
        height: 500px;
        width: 100%;
        min-width: inherit;
        margin-bottom: 50px;
    }
    .contact form {
        width: 100%;
    }
}

@media screen and (max-width: 954px){
    .hero{
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;    
    }
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 27px;
    }
    p {
        font-size: 16px;
    }
    .links-wrapper {
        width: 375px;
    }
    .hero .letters * {
        width: 30rem;
    }
    .hero .letters img:nth-child(1) {
        left: -42px;
    }
    .hero .letters img:nth-child(2) {
        left: 292px;
        top: -37px;
    }
    .projects-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width: 735px){
    .hero{
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 50px;
    }
    .links-wrapper {
        width: 375px;
    }
    .hero .letters * {
        width: 20rem;
    }
    .hero .letters img:nth-child(1) {
        left: 46px;
    }
    .hero .letters img:nth-child(2) {
        left: 247px;
        top: -37px;
    }
    .tech h2 img {
        width: 6rem;
    }
    .tech .tech-line .tech-element {
        width: 140px;
    }
    .tech .tech-line {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 550px){
    .hero{
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 25px;
    }
    .tech .tech-line .tech-element span {
        font-size: 1.5rem;
    }
    .links-wrapper {
        width: 320px;
        // flex-direction: column;
        // align-items: flex-start;
    }
    .hero .letters * {
        width: 20rem;
    }
    .hero .letters img:nth-child(1) {
        left: 85px;
    }
    .hero .letters img:nth-child(2) {
        left: 213px;
        top: -37px;
    }
    .sub-title {
        font-size: 2rem;
    }
    .button-1 {
        font-size: 1.4rem;
    }
    .tech .tech-line .tech-element {
        width: 100px;
        margin-right: 2rem;
    }
    .form-row {
        display: flex;
        flex-direction: column-reverse;
    }
    .social-medias{
        margin-bottom: 3rem;
    }
}